* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    background-color: white;
    color: #333;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}



/* Start Navbar CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    flex-direction: column;
}

.logo {
    font-size: 1.7rem;
    margin: 1rem;
    font-family: 'Splash', cursive;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: white;
}

.navbar-container {
    text-decoration: none;
}

.navbar-links {
    height: 100%;
    display: none;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

.navbar-links li {
    list-style: none;
    font-size: 1rem;
    text-align: center;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.navbar a:hover {
    color: #555;
}

.navbar-links.active {
    display: flex;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 24px;
    display: flex;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (min-width: 640px) {
    .navbar .navbar-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .toggle-button {
        display: none;
    }

    .navbar-links {
        display: flex;
        width: auto;
        align-items: center;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: row;
    }

    .navbar-links ul li {
        text-align: right;
    }
}
/* END */



/* Start Header CSS */
.primary-header {
    min-height: 400px;
}

.primary-header h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.primary-header img {
    margin-top: 40px;
    margin-bottom: 60px;
}

.primary-header .container button {
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem;
    font-family: sans-serif, Arial, Helvetica;
    border-radius: 0.3em;
}

.primary-header button:hover {
    background-color: #ff0263;
}

@media (min-width: 640px) {
    .primary-header .container {
        display: flex;
        align-items: center;
        gap: 2em;
    }
    .primary-header h1 {
        font-size: 1.6rem;
    }
    img {
        width: 60%;
        display: block;
        height: auto;
    }
}

@media (min-width: 1050px) {
    .primary-header h1 {
        font-size: 2.4rem;
    }
}
/* END */



/* Start info-cards/services CSS */
h2 {
    font-size: 1.3rem;
    color: #20C9C9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-cards {
    background-color: #121212;
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.info-cards .container .card {
    /* padding-top: 20px; */
    /* margin: 20px 10px; */
    padding: 20px 0;
}

.info-cards .container .web-dev h2 {
    /* padding-bottom: 20px; */
}


.material-symbols-outlined {
    /* padding-right: 10px; */
    margin-right: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

@media (min-width: 640px) {
    .info-cards .container {
        display: flex;
        justify-content: space-between;
    }
    .info-cards .container .card {
        margin: 20px 10px;
        padding: 10px 0;
        flex: 1;
    }
    .container .card h2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* END */


/* Start RTB Section CSS */
.rtb .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 16px;
}

.rtb .container img, 
.rtb-second .container img {
    border-radius: 3%;
}

.container .rtb-first p {
    padding-bottom: 60px;
}

.rtb-second-reason p {
    padding-bottom: 60px;
}

.testimonial-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	overflow: hidden;
	max-width: 100%;
	width: 350px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.testimonial-body {
	padding: 40px 40px 80px;
}

.testimonial-body p {
	color: black;
	font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
	line-height: 36px;
	margin: 0;
}

.testimonial-body .fa-quote-right {
	color: #d4d3d3;
	font-size: 40px;
	float: right;
}

.testimonial-footer {
	background-color: #686de0;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.testimonial-footer h3 {
	margin: 10px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.testimonial-footer h4 {
	color: #b3b5ef;
	margin: 0;
	letter-spacing: 1px;
}



@media (min-width: 850px) {
    .rtb .container {
        display: flex;
        flex-direction: row-reverse;
        gap: 2em;
    }
    .container .rtb-first p {
        padding-bottom: 0px;
    }
    .rtb-second .container {
        display: flex;
        gap: 2em;
    }
    .rtb-second-reason p {
        padding-bottom: 0px;
    }

    .testimonial-display {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

/* END */


/* START PARTNERS */
.partners {
    background-color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.partners .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners .container img {
    height: 157px;
    width: 150px;
    margin-bottom: 60px;
}

.partners .container .semrush {
    border-radius: 10px;
}

.partners .container .facebook {
    height: 90px;
    width: 190px;
    border-radius: 10px;
}

.partners .container .work {
    height: 90px;
    width: 190px;
}

@media (min-width: 850px) {
    .partners .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .partners .container img {
        height: 217px;
        width: 210px;
        text-align: center;
    }
    .partners .container .facebook {
        height: 117px;
        width: 290px;
        border-radius: 10px;
    }
    
    .partners .container .work {
        height: 117px;
        width: 290px;
    }
}
/* END  */

/* START CONTACT SECTION */

.contact .container {
    text-align: center;
    max-width: 100%;
    background-color: #121212;
}

.contact-us h2 {
    font-size: 1.6rem;
    padding-top: 60px;
}

.contact-us p {
    color: white;
}

.contact-button {
    background-color: #dc46f9;
    border: none;
    border-radius: 50px;
    padding: 18px 30px;
    text-align: center;
    text-decoration: none;
    font-size:22px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 60px;
}

.contact a {
    text-decoration: none;
    color: white;
}

/* START FOOTER  */

footer .container {
    text-align: center;
    padding-top: 60px;
}

footer .container a {
    text-decoration: none;
    color: #333;
}

footer .container a:hover {
    color: #ff0263;
}

footer .container .services p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 16px;
}

footer .container .resources p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 16px;
}

footer .container li {
    padding: 0.5rem;
}

.newsletter {
    padding-top: 40px;
}

.newsletter .newsletter-header {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 16px;
}

.form {
    padding-top: 20px;
}

.form .username input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    width: 100%;
    padding: 10.5px 10px;
    border: 1px solid #00000026;
    border-radius: 4px;
    margin-bottom: 20px;
}

::placeholder {
    color: #a2a2a2;
}

.form .email input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    width: 100%;
    padding: 10.5px 10px;
    border: 1px solid #00000026;
    border-radius: 4px;
}

.newsletter-button {
    background-color: #000000;
    border: none;
    color: white;
    font-weight: bold;
    padding: 12px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 0.3em;
    letter-spacing: 0.2px;
}

.newsletter-button:hover {
    background-color: #ff0263;
}

.social-icons img {
    height: 35px;
    width: 35px;
    margin: 0 10px 40px;
}
.social {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

@media (min-width: 640px) {
    footer .container {
        display: flex;
        justify-content: space-between;
    }
    .social-icons img {
        height: 35px;
        width: 35px;
        margin: 0 10px 0;
    }
    .social-icons {
        display: flex;
    }
    .social .container {
        display: flex;
        justify-content: space-between;
    }
    .newsletter {
        max-width: 600px;
    }
    footer .container .resources p {
        padding-top: 0px;
    }
}