* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    background-color: whitesmoke;
    color: #333;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #333;
    color: white;
    flex-direction: column;
    /* align-items: start; */
}

.logo {
    font-size: 1.6rem;
    margin: 1rem;
    font-family: 'Splash', cursive;
    /* font-size: 1.6rem; */
    font-weight: bold;
}

.navbar-links {
    height: 100%;
    display: none;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
}

/* .navbar-links ul li {
    text-align: center;
} */

.navbar-links li {
    list-style: none;
    font-size: 1rem;
    text-align: center;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    /* padding: .5rem 1rem; */
}

.navbar a:hover {
    color: #555;
}

.navbar-links.active {
    display: flex;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 24px;
    display: flex;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (min-width: 640px) {
    .navbar .navbar-container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .toggle-button {
        display: none;
    }

    .navbar-links {
        display: flex;
        width: auto;
        align-items: center;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: row;
    }

    .navbar-links ul li {
        text-align: right;
    }
}

.primary-header {
    min-height: 400px;
}

.primary-header h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.primary-header img {
    margin-top: 16px;
    margin-bottom: 16px;
}

.info-cards {
    background-color: #121212;
    color: white;
    text-align: center;
}

.info-cards .container .card {
    padding-top: 20px;
}

/* .card .material-symbols-outlined {
    margin-right: 10px;
    align-items: center;
    background-color: white;
} */

.material-symbols-outlined {
    padding-right: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}


h2 {
    font-size: 1.3rem;
    color: #20C9C9;
    display: flex;
    align-items: center;
    justify-content: center;
}